@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$font-stack: 'Inter', Arial, sans-serif;
$form-bg: #cbd5e1;
$fieldset-bg: #fff;
$legeng-bg: #e2e8f0;
$border-col: #94a3b8;
$checkbox-container: 'label[for=' no-sms ']';
$error-color: #fca5a5;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-family: $font-stack;
  background: center / cover url('../assets/background.jpg');
  padding: 40px 0;
}

.new-client-form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: $form-bg;
  border-radius: 4px;

  h1 {
    display: block;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }

  fieldset {
    padding: 4px 0 20px 0;
    background-color: $fieldset-bg;
    border-style: none;
    margin-top: 16px;
    text-align: center;
  }

  legend {
    margin: 0 auto;
    font-size: 2rem;
    background: $legeng-bg;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid $border-col;
    display: flex;
    align-items: center;

    img {
      max-height: 2rem;
      margin-right: 12px;
    }
  }

  label {
    display: inline-block;
    font-size: 1.5rem;
    margin: 16px 0;
  }

  input {
    position: relative;
    z-index: 1;
  }

  input[type='text'],
  input[type='tel'] {
    margin: 0 auto;
    width: 80%;
    height: 40px;
    display: block;
    font-size: 1.5rem;
    background-color: $fieldset-bg;
    border: 1px solid $border-col;
    border-radius: 4px;
    padding: 8px;
  }

  input[type='text']:hover,
  input[type='tel']:hover {
    background-color: darken($fieldset-bg, $amount: 5);
  }

  input[name='dob'],
  input[name='phone'],
  input[name='issueDate'] {
    width: 170px;
    text-align: center;
  }

  input::placeholder {
    font-size: 0.7rem;
    font-style: italic;
  }

  input:focus::placeholder {
    color: transparent;
  }

  select {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 40px;
    background: $fieldset-bg;
    font-size: 1rem;
    border: 1px solid $border-col;
    position: relative;
    z-index: 1;
  }

  select[multiple] {
    overflow-y: auto;
    height: 100%;

    option {
      padding: 6px;
    }
  }

  #{$checkbox-container} {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border: 2px solid $border-col;
      background-color: $fieldset-bg;
    }
  }

  #{$checkbox-container}:hover input ~ .checkmark {
    background-color: $form-bg;
  }

  #{$checkbox-container} input:checked ~ .checkmark {
    background-color: #334155;
  }

  .checkmark::after {
    content: '';
    position: absolute;
    display: none;
  }

  #{$checkbox-container} input:checked ~ .checkmark::after {
    display: block;
  }

  #{$checkbox-container} .checkmark::after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  input[name='zipCode'],
  input[name='house'] {
    width: 120px;
    text-align: center;
  }

  input[name='country'],
  input[name='street'] {
    width: 240px;
  }

  .address-container,
  .doc-container {
    display: flex;
    justify-content: space-evenly;

    input {
      margin-top: 12px;
    }
  }

  select[name='document'] {
    width: 220px;
  }

  input[name='docSeries'] {
    width: 80px;
    text-align: center;
  }

  input[name='docNumber'] {
    width: 160px;
    text-align: center;
  }

  input[type='submit'] {
    margin: 20px auto 0;
    padding: 8px;
    font-size: 2em;
    display: block;
    background: #0369a1;
    color: #f8fafc;
    border-radius: 4px;
  }

  input[type='submit']:hover {
    background: #0ea5e9;
  }

  %error {
    background: $error-color;
    font-size: 0.7rem;
    text-align: start;
    padding: 4px;
    color: #44403c;
    position: relative;
    z-index: 0;
    border-radius: 4px;
    margin: -2px auto;
  }

  .error-text {
    @extend %error;
    width: 80%;
  }
  .error-date,
  .error-phone,
  .error-group {
    @extend %error;
    width: 170px;
    text-align: center;
  }

  .error-document {
    @extend %error;
    width: 220px;
  }

  .error-zip,
  .error-house {
    @extend %error;
    width: 120px;
    text-align: center;
  }

  .error-series {
    @extend %error;
    width: 80px;
    text-align: center;
  }

  .submit-error {
    background: $error-color;
    font-size: 1rem;
    text-align: center;
    padding: 4px;
    color: #44403c;
    border-radius: 4px;
    margin: 12px auto;
  }
}

@media (max-width: 550px) {
  #app {
    background: none;
    padding: 0;
  }

  .new-client-form {
    width: 100vw;

    input[name='zipCode'],
    input[name='house'] {
      width: 100px;
      text-align: center;
    }

    input[name='country'],
    input[name='street'] {
      width: 200px;
    }
  }
}

@media (max-width: 360px) {
  .new-client-form {
    .address-container,
    .doc-container {
      display: block;

      label {
        display: block;
      }
    }
  }
  legend {
    img {
      display: none;
    }
  }
}
